body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: beige;
  margin-left: 50vh;
  margin-right: 50vh;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
h3 {
  text-align: center;
}
.ingredietns {
  text-align: left;
}

#title {
  grid-area: title;
}
#ingredients {
  grid-area: ingredients;
  text-align: left;
}
#imgae {
  grid-area: image;
}
#image > img {
  object-fit: cover;
  width: 70%;
  margin-left: 10vh;
}
#sauce {
  display: block;
  margin-left: 10vh;
  grid-area: sauce;
}
#abc {
  grid-area: abc;
}
#cook {
  grid-area: cook;
  text-align: center;
}
#preperation {
  grid-area: preperation;
  text-align: center;
}

section {
  display: grid;
  grid-template-areas: "title title" "image ingredients" "preperation preperation" "sauce abc" "cook cook";
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
