body {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: beige;
}
h1 {
  text-align: center;
}

#title {
  grid-area: title;
}
#ingredients {
  grid-area: ingredients;
  margin-top: 30%;
}
#imgae {
  grid-area: image;
  image-orientation: 90grad;
}
#sauce {
  grid-area: sauce;
}
#abc {
  grid-area: abc;
}
#cook {
  grid-area: cook;
}
#preperation {
  grid-area: preperation;
  text-align: center;
}

section {
  display: grid;
  grid-template-areas: "title title" "image ingredients" "preperation  preperation" "sauce abc" "cook cook";
  grid-template-columns: 1fr 1fr;
}
